* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  height: 100vh;
}

body {
  width: 100vw;
  height: 100vh;
}

h1 {
  margin: 0;
  font-size: 17px;
}

.user-view {  
  overflow-y: hidden;
  display: flex;
  flex-direction: row;  
  height: 100vh;
}

.room-view {
  width: 35vw;
  height: 100vh;
  display: flex;  
}

.room-list {
  background-color: black;   
}

.welcome-text {
  width: 30rem;
  font-size: 1.7rem;
  font-weight: 600;
}

p {
  font-size: 0.8rem;
  color: #000604;
}

.auth-screen {
  background-image: url("../images/login_screen_background.jpg");
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-text-and-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-left: 25rem;
}

.firebase-auth {
  margin: 4rem auto;
}

.user-info-and-messages {
  display: flex;
  flex-direction: column;
  width: 65vw;  
  background: #ffffff;
}

.user-info {
  background: #b0c5d1;
}