* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

h1 {
  margin: 0;
  font-size: 17px;
}

p {

}

.user-view {
  width: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
}

.rooms-header {
  font-size: 36px;
}

.room-list {
  background-color: black;
}

.welcome-text {
  width: 20rem;
  font-size: 1.4rem;
  font-weight: 600;
}

p {
  font-size: 0.6rem;
}

.auth-screen {
  background-image: url("../images/login_screen_background.jpg");
  background-position: center;
  width: 100vw;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-text-and-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-left: 25rem;
}

.firebase-auth {
  margin: 4rem auto;
}

.user-info-and-messages {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #b0c5d1;
}

.user-info {
  background: #b0c5d1;
}