.message-section-container{
  display: flex;
  flex-direction: column;
}

.active-room {
  font-size: 1.5rem;
}

.active-room-name {
  text-align: center;
  margin-bottom: 7px;
}

.list-of-messages{  
  height: 55vh;
  display: flex;
  align-items: left;
  overflow-y: scroll;
}

.list-of-messages ul {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-of-messages li {
  list-style: none;
  text-align: left;
  border-bottom: 1px solid #D3D3D3;
  width: 95%;
  margin-bottom: 0.8rem;
}

.message-text {
  margin-top: 0.8rem;
  font-size: 0.8rem;
}

.sent-by {
  font-style: bold;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.timestamp-and-delete-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
  font-size: 0.8rem;
}

.message-field {
  position: fixed;
  width: 65%;
  bottom: 0;
}

textarea {
  margin-right: 1rem;
}

.message-text-field {
  margin-left: 1rem;
  margin-bottom: 0.3rem;
  display: flex;
  flex-direction: column;
  height: 20vh;
}

.date-and-time-text {
  font-size: 0.5rem;
  font-style: italic;
}

.message-submit-button {
  width: 100px;
  margin-top: 0.8rem;
}

