.available-rooms {
  background: #b0c5d1;
}

label {
  font-size: 10px;
}

.room-topic {

}

.new-room-form {
  background: #b0c5d1;
  /* border-right: 5px solid #000; */
}

.new-room-form form input {
  margin-top: 10px;
}

.room-container {
  overflow: auto;
  height: 70vh;
  /* border-right: 5px solid #000; */
}

.room-container a {
  margin-top: 2rem;
}

.room-info {
  margin-top: 1.5rem;
}

.room-list {
  border-right: 5px solid #000;
  height: 100%;
  background: #b0c5d1;
}