.user-info {
    background: #707070;    
    margin-bottom: 1rem;
    height: 85px;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

.level>.level-item:not(.is-narrow) {
    flex-grow: 0;
}

.user-info-container {
    width: 100%;
}

.active-users {
    margin-right: 3rem;
}

.current-user {
    display: flex;
    align-items: center;
}

.user-info {
    color: #fff;
}

.current-user button {
    width: 50%;
    margin: 5px 0;
    width: 100px;
    margin: 14px 0px 14px 14px;    
}