.user-info {
    background: #707070;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    height: 85px;
}

.active-users {
    margin-right: 3rem;
}

.current-user {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}

.user-info {
    color: #fff;
}

/* .sign-out-button {
    display: none;
} */

.current-user button {
    width: 50%;
    margin: 5px 0;
}