.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 100vh;
  overflow-y: hidden;
}

.rooms-header {
  font-size: 36px;
}

.room-list {
  background-color: black;
  height: 30vh;
}
