* {
    font-family: 'IBM Plex Serif', serif;
}

button {
    font-family: 'IBM Plex Serif', serif;
    border-radius: 10px;
    background: #EA2124;
    font-size: 0.4rem;
    height: 1.5rem;
    color: #fff;
}

button[type="submit"] {
    background-color: green;
    margin-top: 0.5rem;
}