* {
    font-family: 'IBM Plex Serif', serif;
}

button {
    font-family: 'IBM Plex Serif', serif;
    border-radius: 5px;
    background: #EA2124;
    font-size: 0.7rem;
    color: #fff;
    padding: 0.5rem;
}

button[type="submit"] {
    background-color: green;
    margin-top: 0.5rem;
}